.amo{
    margin-left: 75px;
}
.amo1{
    margin-left: 61px;
}

.amo2{
    margin-left: 116px;
}

.amo3{
    margin-left: 110px;
}

.amo4{
    margin-left: 90px !important;
}
.cutdetail{
    margin-top: 25px;
}

.labelcls{
    margin-left: 5px;
}
 
h4, .h4{
    font-size: 15px !important;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #5dab14 !important;
}