<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">View Permits</h3>
    </div>

  </div>


  <div class="form form-label-right defaul">
    <div class="form-group ">
      <div class="form-group row" [formGroup]="searchGroup">
        <div class="col-lg-9">
          <label class="col-lg-8 col-form-label" style="margin-left: 25px;"><b>Lot No:</b></label>
          <div class="col-lg-10">
            <select class="form-control" name="lot_no" formControlName="lot_no" style="margin-left: 22px;">
              <option> Please Select</option>
              <option *ngFor="let product of productsService.items$ | async; let i = index" [value]="product.lot_no">
                {{product.lot_no }}</option>
            </select>
          </div>
        </div>




        <div class="form-group col-lg-4"> 

          <label class="col-lg-12 col-form-label"><b>From Date:</b></label>
          <div class="col-lg-10">
            <div class="input-group input-group-solid ">

              <input name="datepicker" class="form-control clickeven" ngbDatepicker #datepicker="ngbDatepicker"
                (dateSelect)="onDateSelection($event)" formControlName="fromdate" [displayMonths]="1" type="hidden"
                [startDate]="fromDate!">

              <input #dpFromDate class="form-control" placeholder="dd/mm/yyyy" name="dpFromDate"
                (dateSelect)="onDateSelection($event)" formControlName="fromdate" [value]="formatter.format(fromDate)"
                (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
              <div class="input-group-append">
                <button class="btn  calendar" (click)="datepicker.toggle()" type="button"></button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4" style="margin-top: 15px !important;">
          <label class="col-lg-6 col-form-label"><b>To Date:</b></label>
          <div class="col-lg-10">
            <div class="input-group input-group-solid ">
              <input #dpToDate class="form-control" placeholder="dd/mm/yyyy" name="dpToDate" ngbDatepicker
                #d="ngbDatepicker" formControlName="todate" (dateSelect)="onDateSelection($event)"
                [value]="formatter.format(toDate)" (input)="toDate = validateInput(toDate, dpToDate.value)">
              <div class="input-group-append">
                <button class="btn calendar" (click)="d.toggle()" type="button"></button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <label class="col-lg-8 col-form-label"><b>Permit No:</b></label>
          <div class="col-lg-10">
            <input type="text" name="permit_no" formControlName="permit_no" class="form-control form-control-solid"
              placeholder="Permit No" />
          </div>
        </div>

        <div class="col-lg-4">
          <label class="col-lg-8 col-form-label"><b>Plate-No:</b></label>
          <div class="col-lg-10">
            <input type="text" name="plate_no" formControlName="plate_no" class="form-control form-control-solid"
              placeholder="Plate No" />
          </div>
        </div>

        <div class="col-lg-4">
          <label class="col-lg-8 col-form-label"><b>Permit Expired Past Hour(s) :</b></label>
          <div class="col-lg-10">
            <select class="form-control" name="permit_exp" formControlName="permit_exp">
              <option [value]="1">1</option>
              <option [value]="2">2</option>
              <option [value]="3">3</option>
              <option [value]="4">4</option>
            </select>
          </div>
        </div>

        <div class="col-lg-4">
          <button type="submit" class="btn btn-primary btn-elevate sho" (click)="save()"> Show
          </button>
        </div>

      </div>

      <table class="lottable" id="lotTable" style="width: 100%;margin-left: 42px;">

      </table>

    </div>
  </div>
</div>