// Barani Changes

body {
    background-color: #ffffff !important;
    font-family: "Poppins", sans-serif !important;
}
.login-container {
    max-width: 538px;
    // min-height: 490px;
    display: block;
    margin: 88px auto 0;
    background-color: #ffffff;
    border: 1px solid #d8dfe9;
    border-radius: 2px;
    padding: 40px;
}
.text-hd {
    font-size: 18px;
    color: #000000;
    font-weight: 600;
    margin: 35px 0 25px;
    display: block;
}
.mb-42 {
    margin-bottom: 30px;
}
.login-container label {
    font-size: 14px;
    font-weight: 500;
}

.form-control {
    height: 40px !important;
    border-radius: 0 !important;
    border: 1px solid #c8caca;
    font-size: 14px !important;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.5) !important;
}
.g-btn {
    font-size: 16px !important;
    color: #ffffff !important;
    background-color: #5dab14 !important;
    text-transform: uppercase;
    border-color: #5dab14 !important;
    min-height: 52px;
    font-weight: 500 !important;
}
.btn-primary.focus,
.btn-primary:focus {
    background-color: #569e12 !important;
    border: 0 !important;
    box-shadow: none !important;
}
.form-control:focus {
    border-color: #000 !important;
    box-shadow: none !important;
}
.g-btn:hover {
    background-color: #569e12 !important;
}
.gr-btn,
.gr-btn:hover,
.gr-btn:focus {
    background-color: #f6f6f6 !important;
    color: #000000 !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    min-height: 52px;
    border-color: #d8dfe9 !important;
    text-transform: uppercase;
}
a.mat-list-item span {
    background: url(../../../../assets/media/svg/icons/Home/sprite.png) no-repeat;
    width: 25px;
    height: 22px;
    margin-right: 10px;
}
a.mat-list-item span.acct-sum {
    background-position: -4px 2px;
}
a.mat-list-item span.courtesy-cards {
    background-position: -4px -48px;
}
a.mat-list-item span.view-permits {
    background-position: -4px -98px;
}
a.mat-list-item span.logout {
    background-position: -4px -145px;
}
a.mat-list-item.active span.acct-sum {
    background-position: -4px -198px;
}
a.mat-list-item.active span.courtesy-cards {
    background-position: -4px -248px;
}
a.mat-list-item.active span.view-permits {
    background-position: -4px -298px;
}
a.mat-list-item.active span.logout {
    background-position: -4px -345px;
}
.content-area {
    padding: 30px;
}
.inner-hd {
    font-size: 24px;
    color: #5dab14;
    font-weight: 500;
    margin: 6px 0 0;
}
.table-responsive {
    border: 1px solid #d8dfe9;
    border-radius: 4px !important;
}
h4.inner-subhd {
    font-size: 14px;
    color: #000000;
    font-weight: 500;
    margin: 5px 0 18px;
    text-transform: uppercase;
}
.amt-txt {
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
}
.amt-txt span {
    font-size: 22px;
    color: #5dab14;
}
hr.brdr-btm {
    border-top: 2px solid #d8dfe9;
}
.form-control.inline-frm {
    display: inline-block;
    width: 176px;
    border: 1px solid #d8dfe9;
    border-radius: 4px !important;
    margin-left: 15px;
    background: url(../../../../assets/media/svg/icons/Home/calendar.png) no-repeat;
    background-position: 93% center;
}
.form-row {
    float: right;
}
.form-row > .col,
.form-row > [class*="col-"] {
    padding: 0 7px !important;
}
.btn-default {
    background: #f6f6f6 !important;
    border: 1px solid #d8dfe9 !important;
    font-size: 16px !important;
    color: #1f1f1f;
    font-weight: 600 !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    text-transform: uppercase;
}

.table thead th {
    border-bottom: 1px solid #bec6d1 !important;
    font-weight: 500;
    text-transform: uppercase;
    min-height: 54px;
    height: 54px;
}
td {
    font-weight: 400;
}
ul.top-menu {
    margin: 0;
    padding: 0;
}
ul.top-menu li span {
    width: 30px;
    height: 30px;
    background: #5dab14;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    border-radius: 50%;
}
ul.top-menu li span img {
    padding: 7px 5px;
}
.topbar .row.align-items-center {
    min-height: 72px !important;
}
.serch-fld {
    background: none !important;
    min-width: 306px;
}
ul.top-menu li {
    list-style: none;
    /* display: inline-block; */
    /* vertical-align: middle; */
    display: inline-block;
    margin-left: 30px;
    font-size: 16px;
    color: #000;
    font-weight: 500;
}
th,
td {
    border: 0 !important;
    font-size: 14px;
    text-align: center !important;
    padding: 5px 10px !important;
    min-width: 110px;
    vertical-align: middle !important;
}
.table {
    margin: 0 !important;
}
thead {
    background: #e7f2dc;
    border: 0 !important;
}
.table td {
    padding: 25px 10px !important;
}
.table-responsive {
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .login-container {
        width: 100%;
        margin: 50px auto;
    }
}
