
  
  .lotde{
    margin-top: 30px;
  }
  body {
    overflow: hidden; /* Hide scrollbars */
  }
  html { overflow-y: hidden; }

.defaul{

     min-height: 450px !important;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #5dab14 !important;
}