<div class="modal-content">
  <div class="modal-header">
    <div class="modal-title h4" id="example-modal-sizes-title-lg">
      <ng-container *ngIf="customer">
        <ng-container *ngIf="customer.id">Edit</ng-container>
        <ng-container *ngIf="!customer.id">Create</ng-container>
        Admin
        <ng-container *ngIf="customer.id"
          >'{{ customer.username }} '</ng-container
        >
      </ng-container>
    </div>
  </div>
  <div
    class="overlay overlay-block cursor-default modal-body"
    style="min-height: 404px"
  >
    <ng-container *ngIf="isLoading$ | async">
      <div class="overlay-layer bg-transparent">
        <div class="spinner spinner-lg spinner-success"></div>
      </div>
    </ng-container>

    <ng-container *ngIf="customer">

      <form action="#" class="form  " [formGroup]="formGroup">
        <div class="card-body">
       
         <div class="mb-15">
          <div class="form-group row">
           <label class="col-lg-2.1 col-form-label"><b>First Name: <span style="color:#ff0000">*</span></b></label>
           <div class="col-lg-6">
            <input
            type="text"
            class="form-control form-control-lg form-control-solid"
            name="username"
            placeholder="First Name"
            autocomplete="off"
            [class.is-invalid]="isControlInvalid('username')"
            [class.is-valid]="isControlValid('username')"
            formControlName="username"
            minlength="3" maxlength="20"
          />
          <div class="valid-feedback" *ngIf="isControlValid('username')">
            First Name was entered correct
          </div>
          <div
            class="invalid-feedback"
            *ngIf="controlHasError('required', 'username')"
          >
          First Name is required
          </div>
          <div
            class="invalid-feedback"
            *ngIf="controlHasError('minlength', 'username')"
          >
          First Name should have at least 3 symbols
          </div>
          <div
            class="invalid-feedback"
            *ngIf="controlHasError('maxlength', 'username')"
          >
          First Name should have maximum 100 symbols
          </div>
           </div>
          </div>

          <div class="form-group row">
            <label class="col-lg-2.9 col-form-label" ><b>Last Name: <span style="color:#ff0000">*</span></b></label>
            <div class="col-lg-6" >
             
              <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              autocomplete="off"
              name="Last Name"
              [class.is-invalid]="isControlInvalid('lastname')"
              [class.is-valid]="isControlValid('lastname')"
              formControlName="lastname"
            />
        
            <div class="valid-feedback" *ngIf="isControlValid('lastname')">
              Last Name was entered correct
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('required', 'lastname')"
            >
            Last Name is required
            </div>
           
            </div>
           </div>

          <div class="form-group row">
            <label class="col-lg-2.9 col-form-label" ><b>Email: <span style="color:#ff0000">*</span></b></label>
            <div class="col-lg-6" style="margin-left: 30px;">
             
              <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              autocomplete="off"
              pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
              name="email"
              [class.is-invalid]="isControlInvalid('email')"
              [class.is-valid]="isControlValid('email')"
              formControlName="email"
            />
        
            <div class="valid-feedback" *ngIf="isControlValid('email')">
             Email was entered correct
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('required', 'email')"
            >
              Email is required
            </div>
           
            </div>
           </div>
           
          

          <div class="form-group row">
           <label class="col-lg-2.s col-form-label"><b>Password:  <span style="color:#ff0000">*</span></b></label>
           <div class="col-lg-6">
            <input
            type="password"
            class="form-control form-control-lg form-control-solid"
            name="password"
            placeholder="password"
            autocomplete="off"
            [class.is-invalid]="isControlInvalid('password')"
            [class.is-valid]="isControlValid('password')"
            formControlName="password"
          />
          <div class="valid-feedback" *ngIf="isControlValid('password')">
            password was entered correct
          </div>
          <div
            class="invalid-feedback"
            *ngIf="controlHasError('required', 'password')"
          >
          password is required
          </div>
          <div
            class="invalid-feedback"
            *ngIf="controlHasError('minlength', 'password')"
          >
          password should have at least 3 symbols
          </div>
          <div
            class="invalid-feedback"
            *ngIf="controlHasError('maxlength', 'password')"
          >
          password should have maximum 100 symbols
          </div>
           </div>
          </div>

          <div class="form-group row">
            <label class="col-lg-2.5 col-form-label"><b>User Type:<span style="color:#ff0000">*</span></b></label>
            <div class="col-lg-6">
              <select
              class="form-control form-control-lg form-control-solid"
              name="admin_usertype"
              [class.is-invalid]="isControlInvalid('admin_usertype')"
              formControlName="admin_usertype"
            >
              <option value="swiftpark admin">Swiftpark Admin</option>
              <option value="manager">Manager</option>
              <option value="guards">Guards</option>
            </select>
            
            </div>
           </div>

           <div class="form-group row">
            <label class="col-lg-2.9 col-form-label" ><b>Status: <span style="color:#ff0000">*</span></b></label>
            <div class="col-lg-6" style="margin-left: 18px;">
              <select
              class="form-control form-control-lg form-control-solid"
              name="status"
              [class.is-invalid]="isControlInvalid('status')"
              formControlName="status"
            >
              <option value="1">Active</option>
              <option value="0">BANNED</option>
            </select>
           
            </div>
           </div>

         </div>
        </div>
        <div class="card-footer">
         <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-5">
            <button
              type="button"
              class="btn btn-light btn-elevate mr-2"
              (click)="modal.dismiss()"
            >
              Cancel
            </button>
            <ng-container *ngIf="customer">
              <button
                type="submit"
                class="btn btn-primary btn-elevate"
                (click)="save()"
                [disabled]="formGroup.invalid"
                *ngIf="!customer.id"
                >
                Save
              </button>

              <button
              type="submit"
              class="btn btn-primary btn-elevate"
              (click)="save()"
              [disabled]="formGroup.invalid"
              *ngIf="customer.id"
              >
              Update
            </button>

            </ng-container>
          </div>
         </div>
        </div>
       </form>
    </ng-container>
  </div>
  
</div>
