<app-dashboard-wrapper></app-dashboard-wrapper>

<!-- <div class="">
    <div class="topleft">
   
    </div>
    <div class="middle">
      <h1>COMING SOON</h1>
      
    </div>
    <div class="bottomleft">
     
    </div>
  </div> -->

  <div class="card card-custom gutter-b">
   

    <div class="card-body defaul">
      <div class="form-group row">
        
        <div class="middle">

            <img src="../saadmin/assets/media/bg/commingsoon.png" alt="comming soon" width="500" height="500">

         
        </div>
       </div>
       
    </div>
</div>