<!--begin::Brand-->
<div class="brand flex-column-auto" id="kt_brand" [ngClass]="brandClasses">
  <!--begin::Logo-->
  <a routerLink="/" class="brand-logo">
    <!-- <img alt="Logo" [attr.src]="headerLogo" /> -->
  </a>
  <!--end::Logo-->
  <ng-container *ngIf="asideSelfMinimizeToggle">
    <button class="brand-toggle btn btn-sm px-0" id="kt_aside_toggle">
      <span [inlineSVG]="
          './assets/media/svg/icons/Navigation/Angle-double-left.svg'
        " cacheSVG="true" class="svg-icon svg-icon-xl"></span>
    </button>
  </ng-container>
</div>
<!--end::Brand-->

<!--begin::Aside Menu-->
<div class="aside-menu-wrapper flex-column-fluid" id="kt_aside_menu_wrapper">
  <ng-container *ngIf="disableAsideSelfDisplay">
    <!--begin::Header Logo-->
    <a routerLink="/">
      <img alt="Logo" [attr.src]="headerLogo" />
    </a>
    <!--end::Header Logo-->
  </ng-container>
  <!--begin::Menu Container-->
  <div id="kt_aside_menu" class="aside-menu" [ngClass]="asideMenuCSSClasses" data-menu-vertical="1"
    [attr.data-menu-scroll]="asideMenuScroll" [attr.data-menu-dropdown]="asideMenuDropdown"
    data-menu-dropdown-timeout="500">
    <!-- begin::Menu Nav -->
    <ul class="menu-nav" [ngClass]="ulCSSClasses" *ngIf="isAdminMenu">
      <!-- begin::1 Level -->
      <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
        <a class="menu-link" routerLink="/dashboard" routerLinkActive="active">
          <span [inlineSVG]="'./assets/media/svg/icons/Design/Layers.svg'" cacheSVG="true"
            class="svg-icon menu-icon"></span>
          <span class="menu-text" translate="MENU.DASHBOARD"></span>
        </a>
      </li>
      <!-- end::1 Level -->

      <!-- begin::2 Level -->
      <li class="menu-item" aria-haspopup="true" data-menu-toggle="hover" routerLinkActive="menu-item-active">
        <a class="menu-link" routerLink="/superadmin/customers" routerLinkActive="active">
          <i class="fas fa-user-friends madmin svg-icon menu-icon"></i>
          <span class="menu-text">Manage Admin</span>
        </a>
      </li>
      <!-- end::2 Level -->

      <!-- begin::2 Level -->
      <li class="menu-item" aria-haspopup="true" data-menu-toggle="hover" routerLinkActive="menu-item-active">
        <a class="menu-link" routerLink="/superadmin/products" routerLinkActive="active"> 
          <i class="fas fa-users madmin  svg-icon menu-icon"></i>
          <span class="menu-text">Manage Customer</span>
        </a>
      </li>
      <!-- end::2 Level -->

      <!-- begin::1 Level -->
      <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
        <a class="menu-link" routerLink="/superadmin/courtesycard" routerLinkActive="active"> 
          <i class="fas fa-credit-cardfas fa-credit-card madmin  svg-icon menu-icon"></i>
          <span class="menu-text">Courtesy Card</span>
        </a>
      </li>
      <!-- end::1 Level -->

      <!-- begin::Payment -->
      <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" data-menu-toggle="hover">
        <a class="menu-link" routerLink="/superadmin/payment" routerLinkActive="active">
          <i class="fab fa-cc-paypal madmin  svg-icon menu-icon"></i>
          <span class="menu-text">Payment</span>
        </a>
      </li>
      <!-- end::Payment -->

      <!-- begin: reports -->
      <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover"
        routerLinkActive="menu-item-open">
        <a class="menu-link menu-toggle" routerLinkActive="active" href="/user-management"> 
          <i class="fas fa-file-invoice madmin  svg-icon menu-icon"></i>
          <span class="menu-text">Reports</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
          <i class="menu-arrow"></i>
          <ul class="menu-subnav">
            <!-- begin::Account -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" data-menu-toggle="hover">
              <a class="menu-link" routerLink="/superadmin/accountsummary" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot"></i>
                <span></span>
                <span class="menu-text">Account Summary</span>
              </a>
            </li>
            <!-- end::Account -->

            <!-- begin::2 Level -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" data-menu-toggle="hover">
              <a class="menu-link" routerLink="/superadmin/lotdetails" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot"></i>
                <span></span>
                <span class="menu-text">Lot Details</span>
              </a>
            </li>
            <!-- end::2 Level -->

            <!-- begin::View Permits -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" data-menu-toggle="hover">
              <a class="menu-link" routerLink="/superadmin/viewpermit" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot"></i>
                <span></span>
                <span class="menu-text">View Permits</span>
              </a>
            </li>
            <!-- end::View Permits-->

            <!-- begin::Income Report -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" data-menu-toggle="hover">
              <a class="menu-link" routerLink="/superadmin/incomereport" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot"></i>
                <span></span>
                <span class="menu-text">Income Report</span>
              </a>
            </li>
            <!-- end::Income Report -->

            <!-- begin::Tax Report -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" data-menu-toggle="hover">
              <a class="menu-link" routerLink="/superadmin/taxeport" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot"></i>
                <span></span>
                <span class="menu-text">Tax Report</span>
              </a>
            </li>
            <!-- end::Tax Report -->
          </ul>
        </div>
      </li>
      <!-- end:: reports -->

      <!-- begin::1 Level -->
      <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
        <a class="menu-link" routerLink="/superadmin/managepage" routerLinkActive="active"> 
          <i class="fa fa-book madmin  svg-icon menu-icon"></i>
          <span class="menu-text">Manage Page</span>
        </a>
      </li>
      <!-- end::1 Level -->

    <li
    class="menu-item"
    aria-haspopup="true"
    routerLinkActive="menu-item-active"
  >
    <a class="menu-link" 
     routerLink="/superadmin/managefaq"
     routerLinkActive="active">
      
      <i class="fa fa-book madmin  svg-icon menu-icon"></i>
      
      <span class="menu-text">Manage FAQ</span>
    </a>
  </li>


    </ul>
    <!-- end::Menu Nav -->
     <!-- begin::Menu Nav -->
     <ul class="menu-nav" [ngClass]="ulCSSClasses" *ngIf="!isAdminMenu"> 

      <!-- begin::1 Account Summary -->
      <li class="menu-item" aria-haspopup="true" data-menu-toggle="hover" routerLinkActive="menu-item-active">
        <a class="menu-link" routerLink="/customer/accountsummary" routerLinkActive="active">
          <i class="fas fa-user-friends madmin svg-icon menu-icon"></i>
          <span class="menu-text">Account Summary</span>
        </a>
      </li>
      <!-- end::1 Account Summary -->

      <!-- begin::2 Courtesy Cards -->
      <li class="menu-item" aria-haspopup="true" data-menu-toggle="hover" routerLinkActive="menu-item-active">
        <a class="menu-link" routerLink="/customer/courtesycards" routerLinkActive="active"> 
          <i class="fas fa-users madmin  svg-icon menu-icon"></i>
          <span class="menu-text">Courtesy Cards</span>
        </a>
      </li>
      <!-- end::2 Courtesy Cards -->

    <!-- begin::1 Level -->
 
  <!-- end::1 Level -->
 
      <!-- begin::3 view permits -->
      <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
        <a class="menu-link" routerLink="/customer/viewpermits" routerLinkActive="active"> 
          <i class="fas fa-credit-cardfas fa-credit-card madmin  svg-icon menu-icon"></i>
          <span class="menu-text">View Permits</span>
        </a>
      </li>
      <!-- end::3 view permits -->

      <!-- begin::4 logout -->
      <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" data-menu-toggle="hover">
        <a class="menu-link" routerLinkActive="active" (click)="signOutCustomer()">
          <i class="fab fa-cc-paypal madmin  svg-icon menu-icon"></i>
          <span class="menu-text">Logout</span>
        </a>
      </li>
      <!-- end::4 logout -->

    </ul>
    <!-- end::Menu Nav -->
  </div>
  <!--end::Menu Container-->
</div>
<!--end::Aside Menu-->