:host {
  .aside {
    height: 100%;

    .aside-menu {
      margin: 0;
    }
  }

  // fixed text line break issue on minimized aside hover
  .menu-text {
    white-space: nowrap;
  }
  .madmin{
    color: #ffffff;
    margin-right: 15px;
  }
  hover: {
    color: #ffffff;
  }
  
}
